<script src="./jquery.min.js"></script>
<script>
var newGeoJson = [];
var deferred = $.Deferred();
var replacer = function(key, value){
  if(key == "kelurahan"){
    value = value.split(' ')[1];
    if(value == "BAKALANKRAJAN"){
      return 'BAKALAN KRAJAN';
    } else if(value == "TELOGOWARU"){
      return "TLOGOWARU";
    } else if(value == "ORO-ORODOWO"){
      return "ORO ORO DOWO";
    } else if(value == "PISANGCANDI"){
      return "PISANG CANDI"
    } else if(value == "KARANGBESUKI"){
      return "KARANG BESUKI"
    } else if(value == "PENAGGUNGAN"){
      return "PENANGGUNGAN"
    } else if(value == "RAMPALCELAKET"){
      return "RAMPAL CELAKET"
    } else if(value == "KIDULDALEM"){
      return "KIDUL DALEM"
    }
    return value;
  }
  if(key == 'kecamatan' || key == 'KECAMATAN'){
    value = value.split(' ')[1];
    return value
  }
  return value;
}

$.getJSON({
  url: '//ncc_app.com/assets/js/kelurahan-kotamalang.geojson',
  type: "GET"
}).done(function(geoJson) {
  geoJson.features.forEach(function(feature, i) {
    var newCoordinatesKelurahan = [];

    feature.geometry.coordinates[0].forEach(function(coordinate) {
      var newCoordinateKelurahan = {};
      newCoordinateKelurahan['lng'] = coordinate[0];
      newCoordinateKelurahan['lat'] = coordinate[1];
      newCoordinatesKelurahan.push(newCoordinateKelurahan);
    })

    var newFeature = {
      'kelurahan': feature.properties.KELURAHAN,
      'coordinates': newCoordinatesKelurahan
    }

    var kecamatanAlreadyExist = false;
    newGeoJson.forEach(function(newGeoJsonItem) {
      if(newGeoJsonItem.kecamatan == feature.properties.KECAMATAN){
        newGeoJsonItem.properties.push(newFeature);
        kecamatanAlreadyExist = true;
      }
    })
    if(!kecamatanAlreadyExist){
      newGeoJson.push({
        'kecamatan': feature.properties.KECAMATAN,
        'properties': [newFeature],
        'coordinates': []
      })
    }
  })
  newGeoJson = JSON.parse(JSON.stringify(newGeoJson, replacer, 2));
  deferred.resolve(newGeoJson);
})

deferred.done(function(newGeoJson) {
  $.getJSON({
    url: '//ncc_app.com/assets/js/kecamatan-kotamalang.geojson',
    type: "GET"
  }).done(function(geoJson) {
    geoJson = JSON.stringify(geoJson, replacer, 2);
    geoJson = JSON.parse(geoJson);
    geoJson.features.forEach(function(feature) {
      newGeoJson.forEach(function(newGeoJsonItem) {
        if(feature.properties.KECAMATAN == newGeoJsonItem.kecamatan){
          var newCoordinatesKecamatan = []
          feature.geometry.coordinates[0].forEach(function(coordinate) {
            var newCoordinateKecamatan = {};
            newCoordinateKecamatan['lng'] = coordinate[0];
            newCoordinateKecamatan['lat'] = coordinate[1];
            newCoordinatesKecamatan.push(newCoordinateKecamatan);
          })
          newGeoJsonItem.coordinates = newCoordinatesKecamatan;
        }
      })
    })
    console.log(newGeoJson);
    $('#geojson').text(JSON.stringify(newGeoJson, null));
  })
})

</script>

<textarea id="geojson" style="width:100%;height:100%;">Geojson is processing</textarea>
