/**
 * Masthead
 * -------------------------------------------------------------------------- */
html {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.masthead {
    position: relative;
    background-repeat:no-repeat;
    background-position: top center;
    background-size: 100%;    
}
.masthead-video {
    z-index: 0;
}
.masthead-overlay {
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
}
.masthead-video-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    opacity: 0.6;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.02em;
    padding-right: 10px;
    bottom: 10px;
    text-decoration: none;
    text-align: right;
    line-height: 1.5;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
.masthead-video-credit span {
    display: block;
}
.masthead-video-credit:hover {
    opacity: 1;
}
.masthead-arrow {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: 0.4;
}
h1 {
    position: absolute;
    width: 100%;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    height: 120px;
    line-height: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
}
h1 span {
    display: block;
    font-size: 18px;
    letter-spacing: 0.43em;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 7px;
    opacity: 0.5;
}
h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;
}
p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
    letter-spacing: -0.02em;
    font-weight: 400;
    line-height: 1.6;
}
a {
    color: #1191db;
    text-decoration: none;
}
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
ol li {
    position: relative;
    margin-bottom: 30px;
    font-size: 18px;
    color: #414141;
    letter-spacing: -0.02em;
    font-weight: 400;
    line-height: 1.6;
    padding-left: 60px;
}
ol li:after {
    position: absolute;
    top: 3px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    background-color: #353535;
}
ol li:nth-child(1):after {
    content: '1';
}
ol li:nth-child(2):after {
    content: '2';
}
ol li:nth-child(3):after {
    content: '3';
}
ol li:nth-child(4):after {
    content: '4';
}
code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background: #f7f7f7;
    padding: 4px;
    border-radius: 6px;
    font-size: 0.9em;
}
pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.4;
}
pre .s {
    color: #d14;
}
pre .na {
    color: #008080;
}
pre .nt {
    color: #000080;
}
pre .s {
    color: #d14;
}
pre .nc {
    color: #445588;
}
pre .m {
    color: #009999;
}
