body{
    background-color: #6c757d;
}

.mapdiv1{
    width:65%;
    margin: auto;
    height: 700px;
}

.mapdiv1 path {
    fill: #0000CD;
    stroke: #dece0c;
    stroke-width:4px;
    transition: fill 0.3s;
}

.mapdiv1 :hover {
    fill:#00BFFF;
}



.mapdiv1 path {
    fill: #FFE4C4;
    stroke: #dece0c;
    stroke-width:4px;
    transition: fill 0.3s;
}

.mapdiv1 :hover {
    fill:#00BFFF;
}





.mapdiv2 path {
    fill: #CC66FF;
    stroke: #dece0c;
    stroke-width:4px;
    transition: fill 0.3s;
}

.mapdiv2 :hover {
    /*ungu*/
    fill:#191970; 
}




.mapdiv3 path {
    fill: #FF8C00;
    stroke: #dece0c;
    stroke-width:4px;
    transition: fill 0.3s;
}

.mapdiv3 :hover {
    fill:#800080;
}





.mapdiv4 path {
    fill: #ADFF2F;
    stroke: #dece0c;
    stroke-width:4px;
    transition: fill 0.3s;
}

.mapdiv4 :hover {
    fill:#4B0082;
}



.mapdiv5 path {
    fill: #008000;
    stroke: #dece0c;
    stroke-width:4px;
    transition: fill 0.3s;
}

.mapdiv5 :hover {
    fill:#000;
}